{% extends 'base.html.twig' %}
{% block nour %}

    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" href="{{ asset('front/assets/css/stylenour.css')}}">
{% endblock %}

{% block body %}
    <br><br>
    <div class="container">
        <div class="row">
            <div class="[ col-xs-12 col-sm-offset-2 col-sm-8 ]">
                <ul class="event-list">


{% for event in events %}
    {% set currentDate = 'now'| date ('d - m - Y') %}
    {% if event.dateFEvent > currentDate %}
                    <li>
                        {% set dateTime = date(event.dateDebutEvent) %}
                        <time datetime="">
                            <span class="day">{{ dateTime | date('d') }}</span>
                            <span class="month">{{ dateTime | date('m') }}</span>
                            <span class="year">{{ dateTime | date('y') }}</span>
                        </time>
                        <img alt="event" src="{{ asset('uploads/images/Event/' ~ event.image) }}" />
                        <div class="info">
                            <h2 class="title">{{ event.titre }}</h2>
                            <p class="desc">{{ event.description }}</p>
                            <ul>
                                <li style="width:33%;">{{ event.NbP}} <span class="fa fa-male"></span></li>
                                <li style="width:34%;"><form>


                                    <a href="{{ path('accept',{'id':event.idevent}) }}"onClick="onclick">Participer</a>
                                   {#<a onClick="onclick">S'intéresser</a>#}
                                    <a href="{{ path('Annuler',{'id':event.idevent}) }}" onClick="onclick">Annuler</a>
                                </li>
                                <li style="width:33%;">

                                <div class="social">
                                    <ul>
                                        <li ><a href="{{ socialButtons() }}"></a></li>


                                        <li class="google-plus" style="width:33%;"><a class="button share_gplus" data-url="https://www.youtube.com"><span class="fa fa-google-plus"></span></a></li>
                                    </ul>
                                </div>
                                </li>

                            </ul>
                        </div>


                    </li>
    {% endif %}
                    {% endfor %}

                </ul>
            </div>
        </div>
    </div>

    <script>
        (function(){

            var popupCenter = function(url, title, width, height){
                var popupWidth = width || 640;
                var popupHeight = height || 320;
                var windowLeft = window.screenLeft || window.screenX;
                var windowTop = window.screenTop || window.screenY;
                var windowWidth = window.innerWidth || document.documentElement.clientWidth;
                var windowHeight = window.innerHeight || document.documentElement.clientHeight;
                var popupLeft = windowLeft + windowWidth / 2 - popupWidth / 2 ;
                var popupTop = windowTop + windowHeight / 2 - popupHeight / 2;
                var popup = window.open(url, title, 'scrollbars=yes, width=' + popupWidth + ', height=' + popupHeight + ', top=' + popupTop + ', left=' + popupLeft);
                popup.focus();
                return true;
            };

            document.querySelector('.share_twitter').addEventListener('click', function(e){
                e.preventDefault();
                var url = this.getAttribute('data-url');
                var shareUrl = "https://twitter.com/intent/tweet?text=" + encodeURIComponent(document.title) +
                    "&via=studynet" +
                    "&url=" + encodeURIComponent(url);
                popupCenter(shareUrl, "Partager sur Twitter");
            });

            document.querySelector('.share_facebook').addEventListener('click', function(e){
                e.preventDefault();
                var url = this.getAttribute('data-url');
                var shareUrl = "https://www.facebook.com/sharer/sharer.php?u=" + encodeURIComponent(url) + "&via=studynet";
                popupCenter(shareUrl, "Partager sur facebook");
            });

            document.querySelector('.share_gplus').addEventListener('click', function(e){
                e.preventDefault();
                var url = this.getAttribute('data-url');
                var shareUrl = "https://plus.google.com/share?url=" + encodeURIComponent(url) ;
                popupCenter(shareUrl, "Partager sur Google+");
            });

            document.querySelector('.share_linkedin').addEventListener('click', function(e){
                e.preventDefault();
                var url = this.getAttribute('data-url');
                var shareUrl = "https://www.linkedin.com/shareArticle?url=" + encodeURIComponent(url);
                popupCenter(shareUrl, "Partager sur Linkedin");
            });

        })();
    </script>
{% endblock %}