{% extends "baseAdmin.html.twig" %}

{% block container %}
    <center>

<h1> Ajout d'une classe </h1>
{{ form_start(f) }}
<table border="3">

    <tr>
        <th> NOM: </th>
        <td>{{ form_widget(f.nom) }}</td>
    </tr>
    <tr>
        <th> SALLE: </th>
        <td>{{ form_widget(f.salle) }}</td>
    </tr>


    <tr>
        <th> SPECIALITE: </th>
        <td>{{ form_widget(f.specialite) }}</td>
    </tr>


</table>
{{ form_end(f) }}
    </center>

{% endblock %}