
{% extends 'baseAdmin.html.twig' %}
{% block body %}



    <table id="example1" class="table table-bordered table-striped">
        <body>
            <h1>Liste des Matieres</h1>
            <tr>
                <th>Matiere ID</th>
                <th>Matiere Name </th>
                <th> Coefficient  </th>
                <th> Module </th>
                <th>Actions</th>
            </tr>

            {% for matiere in matieres %}
                <tr>
                    <td>{{ matiere.id}}</td>
                    <td>{{  matiere.Name }}</td>
                    <td>{{  matiere.Coefficient }}</td>
                    <td>{{  matiere.Module }}</td>


                <td>
                    <a href="{{ path('add', { 'id': matiere.id }) }}">add <i class="fa fa-edit" style="font-size:18px"></i></a>

                    <a href="{{ path('delete', { 'id': matiere.id }) }}">delete<i class="fa fa-trash" style="font-size:18px"></i></a>
                    <a href="{{ path('updateM', { 'id': matiere.id }) }}">modifier<i class="fa fa-eye" style="font-size:18px"></i></a>

                </td>
            </tr>

        {% endfor %}
        </body>


    </table>

{% endblock %}
